body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(234, 234, 241);
}
#titulo{
    margin-bottom: 0px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    text-align: center;
}
h1{
    margin: 0px;
    padding: 0px;
}
h2{
    text-align: center;
    font-size: 1rem;
}
#mensaje{
    margin: 0px;
    padding: 0px;
    font-size: 24px;
}
.contenedor-principal{
    margin: 0rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cuadro-blanco{
    background-color: rgb(234, 234, 241);
    color: rgb(234, 234, 241);
    width: 3.7vh;
}
.tablero{
    width: 32rem;
    height: 39rem;
}
.linea{
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
}
.marcador{
    background-color: rgb(168, 165, 165);
    box-sizing: border-box;
    margin-right: 1px;
}
.superior{
    width: 7vh;
    background-color: rgb(156, 160, 156);
    text-align: center;
    border: 1px solid rgb(202, 207, 202);
}
.lateral{
    height: 7vh;
    width: 3.5vh;
    background-color: rgb(156, 160, 156);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.box{
    background-color: rgb(226, 222, 222);
    box-sizing: border-box;
    border: 1px solid grey;
    height: 7vh;
    width: 7vh;
    cursor: pointer;
    margin-right: 1px;
}
.box:hover{
    background-color: rgb(171, 182, 190);
    cursor: pointer;
}
.boxJugador{
    background-color: rgb(150, 174, 196);
    box-sizing: border-box;
    border: 1px solid grey;
    height: 7vh;
    width: 7vh;
    cursor: pointer;
    margin-right: 1px;
}
.boxJugador:hover{
    background-color: rgb(88, 140, 185);
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 34%;
    top: 0;
    width: 50%;
    height: 50%;
} 
.modal-contenido {
    background-color: #3a3e5c;
    color: #aaa;
    padding: 1rem 2rem 3rem 2rem;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
input{
    margin-top: 15px;
    width: 60%;
    background-color: #545a86;
    border: 2px solid rgb(11, 11, 87);
    border-radius: 7%;
}
#dispararMisil:hover{
    cursor: pointer; 
}
.instrucciones{
    margin-top: 4.5rem;
    padding: 0rem 1.8rem;
    border: 2px solid rgb(202, 231, 202);
    background-color: rgba(145, 229, 201, 0.575);
    width: 50%;
    height: 40%;
}
#puntaje{
    margin: 4rem 4rem;
    height: 10%;
    padding: 1.5rem;
    border: 2px solid rgb(197, 231, 210);
    background-color: rgb(68, 156, 102);
    color: white;
    text-align: center;
}
.boton{
    border-style: none;
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: rgb(252, 252, 252);
}
.naranjo{
    background-color: rgb(236, 148, 16);
}
.verde{
    background-color: rgb(68, 156, 102);
}
span{
    padding-left: 5px;
}
#modalGanador{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
#modalGanadorContent{
    background-color: rgb(236, 148, 16);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 40%;
    font-size: 4rem;
    padding-left: 8rem;
}
#jugarDeNuevo{
    font-size: 2rem;
    margin-left: 12rem;
}
#soloLanchas{
    display: none;
}
#opcionesJuego{
    border: 2px solid #7881c5;
    margin: auto;
    padding: 8rem;
    background-color: #545a86;
}
.agranda{
    font-size: 2rem;
    margin: 5px;
}
.agranda:hover{
    cursor: pointer;
    background-color: rgb(150, 174, 196);;
}
#barcos{
    background-color:  rgb(150, 174, 196);
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}
#opcionSoloLanchas{
    padding-bottom: 3.5rem;
}